<!-- Modal -->
<div class="modal" id="bankTransferModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="bankTransferModalLabel">BANK DETAILS</h5>
            <button type="button" id="bankTransferCloseModal" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-header"><b>Bank Name: </b> HDFC Bank Ltd</div>
            <div class="card-header"><b>Beneficiary Name: </b> Aditya Nair</div>
            <div class="card-header"><b>Account No: </b> 50100088897221</div>
            <div class="card-header"><b>IFSC Code: </b> HDFC0000015</div>
            <div class="card-header"><b>Branch Name: </b> Shankardhan Plaza</div>
        </div>
      </div>
    </div>
  </div>