
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

     <div class="container py-5">
          <div class="row">
               <div class="col-md-2 text-center">
                    <p><i class="fa fa-check-circle fa-5x text-success"></i><br/>Status Code: <%= statusCode %></p>
               </div>
               <div class="col-md-10">
                    <h3>YAYYYY!!!! Success...</h3>
                    <p><%= message %></p>
                    <a class="btn btn-primary" id="goBack">Go Back</a>
               </div>
          </div>
     </div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->     
     