/*---------------------- LOGIN FORM ------------------------- */
.login-form {
    width: 340px;
    margin: 50px auto;
      font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

/*---------------------- NUMBER INPUT REMOVAL OF ARROWS ------------------------- */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/*---------------------- DATATABLE HEADER AND DATA CENTER ALIGN ------------------------- */

td, th{
    text-align: center;
}

/*---------------------- DATATABLE STYLING ------------------------- */
table.dataTable thead tr {
  /* background-color: rgb(250, 178, 129); */
  background-color: rgb(42, 42, 72);
  color: rgb(255, 255, 255);
}

table.dataTable thead .sorting {
  background-image: url('http://pebbletech.in/anshika/sort.png');    
}

table.dataTable{      
  overflow-y:visible; 
  overflow-x: visible; 
  font-size:0.9em
}

button#dropdownMenuButton {
  font-size: 0.8em;
}

a{
  text-decoration: none;
}

/*---------------------- FORM MANDATORY STYLING ------------------------- */

label>span{
  color: red;
}

/*---------------------- DROPDOWN ARROW IMG ------------------------- */  

.form-select{
  background-image: url('http://pebbletech.in/anshika/dropdown-arrow.png');
}

/*---------------------- TOGGLE BUTTON ------------------------- */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;    
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  
  #success, #warning, #danger {
      display: none;
  }

  /* .alert {
    display: none;
  } */

  .dropdown-menu {
    position: relative !important;    
  }
  
  body{
    font-family: Helvetica;
    font-size: 0.9em;
  }

  a.btn-sm.btn-primary.dropdown-toggle {
    font-size: 0.9em;
}

.longText{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 0;
}