<div class="card-body">                  
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="hidden" name="admin" value="<%= user._id %>">
                <label for="serviceName">Service Name<span>*</span></label>                                                                               
                <input class="form-control" name = "serviceName" value="<%= service.serviceName %>" type="text" required/>                            
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">                                
                <label for="displayName">Display Name<span>*</span></label>                                                                               
                <input class="form-control" name = "displayName" value="<%= service.displayName %>" type="text" required/>                            
            </div>
        </div>                                                
    </div>                                                        
</div>