<!-- Modal -->
<div class="modal" id="clientListModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="clientListModalLabel">Client List</h5>
          <button type="button" id="clientListCloseModal" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                    <th id="serviceName"></th>
                </tr>                
              </thead>
              <tbody  id="clientList">                
              </tbody>

            </table>
          </div>
      </div>
    </div>
  </div>